---
import { client } from "../lib/microcms";
import type { Page } from "../lib/microcms";

import Layout from "../layouts/Layout.astro";

// ページAPIから最新記事を取得
const response = await client.get({ endpoint: "pages" });
const articles = response.contents as Page[];
---
<Layout title="Home">
  <h1>Welcome to Lab</h1>
  <p>最新の更新情報などがここに入ります。</p>
</Layout>