---
import { client } from "../lib/microcms";
import Layout from "../layouts/Layout.astro";
import type { Page } from "../lib/microcms";

// 1. "pages" エンドポイントから type が general かつスラッグが "profile" のデータを取得
const response = await client.get({ 
  endpoint: "pages", 
  queries: { filters: `type[contains]general[and]slug[equals]profile` } 
});

// 2. 取得したデータを取り出す
const page = response.contents[0] as Page;
---

{/* 3. Layoutコンポーネントに取得したタイトルを渡し、中身を流し込む */}
<Layout title={page.title}>
  <h1>{page.title}</h1>
  {/* リッチエディタの内容（本文）を表示 [1] */}
  <article set:html={page.content} />
</Layout>